# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/

# Bytecode and build
*.egg-info/
dist/
build/

# Cache
*.cache
*.pkl
*.db

# Environment variables
.env
